@charset "utf-8";

/* ハンバーガーメニュー */
.hum_menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 25;
  }
  
  /* チェックボックスを非表示に */
  .hum_menu .menu_button {
    display: none;
  }
  
  /* アイコンの位置を右上に固定 */
  .hum_menu .menu_icon {
    position: absolute;
    right: 8px;
    top: 8px;
    padding-top: 5px;
    height: 10px;
    cursor: pointer;
  }
  
  .hum_menu .menu_icon .menu_bg {
    width: 48px;
    height: 48px;
    background-color: var(--black);
    opacity: 0.5;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* span要素で三本線を作成 */
  .hum_menu .menu_icon .nav_icon {
    display: flex;
    flex-direction: row;
    background-color: var(--gray);
    height: 2px;
    width: 36px;
    position: relative;
    transition: all 0.4s ease-out;
    align-items: center;
    justify-content: center;
  }
  
  /* 上と下に線を表示 */
  .hum_menu .menu_icon .nav_icon::after {
    content: "";
    position: absolute;
    display: block;
    background-color: var(--gray);
    top: -12px;
    width: 75%;
    height: 100%;
    transition: all 0.4s ease-out;
  }
  
  .hum_menu .menu_icon .nav_icon::before {
    content: "";
    position: absolute;
    display: block;
    background-color: var(--gray);
    top: 12px;
    width: 75%;
    height: 100%;
    transition: all 0.4s ease-out;
  }
  
  /* メニュー部分のスタイルを設定 */
  .hum_menu ul {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    /* チェックが入ってないときに中が見えないようにする設定 */
    overflow: hidden;
    /* 高さを0にすることによって非表示にする */
    max-height: 0;
    transition: all 0.6s;
  }
  
  .hum_menu .menu_button:checked ~ ul {
    max-height: 800px;
    height: 532px;
    padding: 8px;
  }
  
  .hum_menu ul li {
    color: var(--white);
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 32px;
    font-weight: bold;
  }
  
  .hum_menu a {
    font-size: 20px;
  }
  
  .hum_menu ul li img {
    width: 100px;
    margin-bottom: 72px;
  }
  
  .hum_menu .menu_button:checked ~ .menu_icon .nav_icon {
    background-color: transparent;
  }
  
  .hum_menu .menu_button:checked ~ .menu_icon .nav_icon::after {
    /* 線を回転させて×マークを作成する */
    transform: rotate(45deg);
    top: 0px;
    width: 100%;
  }
  
  .hum_menu .menu_button:checked ~ .menu_icon .nav_icon::before {
    transform: rotate(-45deg);
    top: 0px;
    width: 100%;
  }
  
  /* ハンバーガーメニューここまで */