@charset "utf-8";


/* ローディング画面CSS */

#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #eee;
  text-align: center;
  color: #ede0d4;
}

#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#splash_logo svg {
  width: 70vw;
}

#mask path {
  fill-opacity: 0;
  transition: fill-opacity 1s;
  fill: none;
  stroke: #7f5539;
}

#mask.done path {
  fill: #7f5539;
  fill-opacity: 1;
  stroke: none;
}

/* ローディング画面CSSここまで */


.header_container {
  background-color: #ede0d4;
  padding-bottom: 12px;
}


h1 {
  margin-left: auto;
  margin-right: auto;
}

h1 img {
  width: 60px;
  height: 50px;
  margin-top: 16px;
}

.header_container {
  display: flex
}

.header_container_icon {
  display: flex;
  position: absolute;
  right: 20px;
  top: 10px;
}

.header_container_icon img {
  width: 20px;
  height: 20px;
  margin-top: 14px;
}

.header_container_icon_login {
  margin-right: 12px;
}

.header_container_icon_login a,
.header_container_icon_cart a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  /* リンクの下線を消す */
  color: black;
  /* リンクの色を指定 */
}

.header_container_icon_login img,
.header_container_icon_cart img {
  margin-bottom: 4px;
  /* アイコンとテキストの間隔を調整 */
}

.header_container_icon_login span,
.header_container_icon_cart span {
  font-size: 10px;
}

/*========= ナビゲーションのためのCSS ===============*/

#g_nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: absolute;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top: 0;
  left: -120%;
  /* 右からではなく左から出てくる */
  width: 100%;
  height: 100vh;
  /*ナビの高さ*/
  background: #95735E;
  /*動き*/
  transition: all 0.6s;
}

.nav_image {
  display: none;
}

/*アクティブクラスがついたら位置を0に*/
#g_nav.panelactive {
  left: 0;
  /* 右からではなく左からスライドイン */
}

/*ナビゲーションの縦スクロール*/
#g_nav.panelactive #g_nav_list {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  /*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/


#g_nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 140px;
  left: 92px;
  transform: translate(-50%, -50%);
}

/*リストのレイアウト設定*/
#g_nav li {
  list-style: none;
  border-bottom: 1px solid #fff;
}


#g_nav li a {
  color: #fff;
  text-decoration: none;
  padding-top: 16px;
  padding-left: 12px;
  padding-bottom: 16px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/*========= ボタンのためのCSS ===============*/
.openbtn1 {
  position: absolute;
  z-index: 9999;
  /*ボタンを最前面に*/
  top: 10px;
  left: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}


.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*×に変化*/
.openbtn1 span {
  display: inline-block;
  transition: all .2s;
  position: absolute;
  left: 12.5px;
  height: 3px;
  border-radius: 2px;
  background-color: #7f5539;
  width: 45%;
}

.openbtn1 span:nth-of-type(1) {
  top: 21px;
}

.openbtn1 span:nth-of-type(2) {
  top: 31px;
}

.openbtn1 span:nth-of-type(3) {
  top: 41px;
}

.openbtn1.active {
  left: auto;
  /* 元々左に固定していた設定を解除 */
  right: 10px;
  /* 右側に移動 */
}

.openbtn1.active span {
  background-color: #FFF;
  /* ×ボタンの色を#FFFに変更 */
}

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  /* width: 30%; */
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  /* width: 30%; */
}

.openbtn1.active span:nth-of-type(1),
.openbtn1.active span:nth-of-type(3) {
  background-color: #FFF;
  /* 1番目と3番目のバーの色を#FFFに変更 */
}

.hedder_search_box {
  background-color: #ede0d4;
  padding-left: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
}

.search_form_1 {
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 2px solid #7f5539;

}

.search_form_1 input {
  height: 37px;
  width: 460%;
  padding: 5px 15px;
  border: none;
  box-sizing: border-box;
  font-size: 1em;
  outline: none;
}

.search_form_1 input::placeholder {
  color: #000000;
}

.search_form_1 button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 37px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: 2px solid #7f5539;
  background-color: #d9d9d9;
  cursor: pointer;
}

.search_form_1 button::before {
  width: 18px;
  height: 17.53px;
  background-image: url("../images/search_icon.svg");
  background-repeat: no-repeat;
  content: '';
}



/*========= レイアウトのためのCSS ===============*/

h1 {
  font-size: 1.2rem;
}

small {
  color: #fff;
  display: block;
  text-align: center;
}

#header {
  width: 100%;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}


section:nth-child(2n) {
  background: #f3f3f3;
}

#footer {
  background: #333;
  padding: 20px;
}


/* ----------フッター-------- */
footer {
  background-color: #ede0d4;
  padding-left: 12px;
  padding-right: 12px;

}

footer ul {
  list-style: none;
}

.footer_list {
  padding-top: 16px;
}

.footer_list .footer_list_1,
.footer_list .footer_list_2 {
  margin-bottom: 24px;
}

.footer_list li a {
  border-left: 2px solid #b392ec;
  padding-left: 12px;
  color: #7f5539;
  font-size: clamp(12px, 3vw, 20px);

}


.footer_list_logo {
  display: flex;
  margin-top: 24px;
}

.footer_list_logo img {
  width: 8.5333vw;
}

.instagram_logo,
.facebook_logo {
  margin-right: 8.5333vw;
}

/* .footer_list_logo img{
  width: 32px;
  height: 31.76px;
  margin-top: -4px;
  margin-bottom: 12px;
} */

.footer_shop_logo {
  display: flex;
  justify-content: end
}

.footer_shop_logo img {
  width: 72px;
  height: 59.56px;
  margin-top: 12px;
  margin-bottom: 12px;
}

footer p {
  font-size: 8px;
  caret-color: #7f5539;
  text-align: center;
  margin-top: 12px;
  padding-bottom: 26.68px;
}

/* -----Footerここまで------- */



@media screen and (min-width: 768px) {
  /* 最大 1200px */

  /* ローディング画面CSS */

  #splash {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #eee;
    text-align: center;
    color: #ede0d4;
  }

  #splash_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #splash_logo svg {
    width: 50vw;
  }

  #mask path {
    fill-opacity: 0;
    transition: fill-opacity 1s;
    fill: none;
    stroke: #7f5539;
  }

  #mask.done path {
    fill: #7f5539;
    fill-opacity: 1;
    stroke: none;
  }

  /* ローディング画面CSSここまで */


  /* --------header--------- */
  .header_container {
    height: 118px;
    padding-bottom: 0px;
  }

  .openbtn1 {
    opacity: 0;
  }

  .openbtn1 span:nth-of-type(1) {
    top: 25px;
    left: 95px;
  }

  .openbtn1 span:nth-of-type(2) {
    top: 44.2px;
    left: 95px;
  }

  .openbtn1 span:nth-of-type(3) {
    top: 63.4px;
    left: 95px;
  }

  h1 img {
    width: 80px;
    height: 66.67px;
    margin-top: 25.66px;
  }

  .header_container_icon {
    margin-right: 75px;
  }

  .header_container_icon img {
    width: 40px;
    height: 40px;
    margin-top: 20px;
  }

  .header_container_icon_login span,
  .header_container_icon_cart span {
    font-size: 12px;
  }

  .header_container_icon_cart {
    margin-left: 32px;
  }

  .hedder_search_box {
    background-color: #b392ac;
    text-align: -webkit-right;
    padding-right: 95px;
    padding-top: 12px;
  }

  .search_form_1 {
    width: 30vw;
  }

  .openbtn1 span {
    width: 48px;
  }



  #g_nav.panelactive,
  #g_nav.panelactive #g_nav_list {
    width: 600px;
  }

  /* ハンバーガーの中 */
  .nav_image {
    display: block;
    /* 画像をブロック要素として扱う */
    width: 86.93px;
    height: 77.77px;
    margin-top: 12px;
    margin-left: 12px;
  }

  #g_nav ul {
    top: 272.83px;
    left: 291px;
  }

  #g_nav li {
    width: 400px;
  }

  #g_nav li a {
    font-size: 24px;
  }

  .openbtn1.active {
    left: 520px;

  }

  /* --------Footer--------- */
  footer {
    padding-top: 12px;
    padding-left: 95px;
    padding-right: 95px;
  }

  .footer_list {
    display: flex;
  }

  .footer_list li {
    margin-top: 12px;
    margin-bottom: 0px;
  }


  .footer_list li a {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 4.538vw;
  }

  .footer_list_logo {
    margin-top: 52px;
  }

  .sns_center_logo {
    margin-left: 80px;
    margin-right: 80px;

  }

  .footer_list_logo img {
    width: 64px;
    height: 64px;
  }

  .footer_shop_logo {
    justify-content: center;

  }

  .footer_shop_logo img {
    margin-top: 60px;
    margin-bottom: 28px;
    width: 140px;
    height: 116.57px;
  }

  footer p {
    padding-bottom: 65.43px;
  }

  /* -----Footerここまで------- */





}