@charset "utf-8";

body {
    font-family: 'Noto Sans JP';
}

.item_container,
.flex_box {
    width: 89.333vw;
}

.item_container img {
    padding: 20px 5.333vw;
    width: 89.333vw;
}

.flex_box {
    margin: 0px 5.333vw;
}

.product_name,
.product_description {
    font-size: clamp(16px, 3vw, 24px);
}

.product_name {
    position: relative;
}

.product_name:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -20px;
    display: inline-block;
    width: 89.333vw;
    height: 1px;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    background-color: #ede0d4;
}

.product_description {
    padding-top: 40px;
    position: relative;
}

.product_description:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -20px;
    display: inline-block;
    width: 89.333vw;
    height: 1px;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    background-color: #ede0d4;
}

.price_area {
    display: flex;
}

.product_price {
    font-size: clamp(16px, 3vw, 24px);
    padding-top: 40px;
    margin-right: 5.333vw;
    width: 25.6vw;
    color: #bf0000;
}

.price_area i {
    padding-top: 40px;
    text-align: left;
    font-size: clamp(16px, 3vw, 24px);
    color: #bf0000;
}

.count_cart {
    padding: 20px 0 80px;
}

.count_box {
    width: 14.933vw;
    height: 36px;
    vertical-align: bottom;
}

.count_cart span {
    font-size: clamp(16px, 3vw, 24px);
    vertical-align: bottom;
    display: inline;
    margin-right: 5.333vw;
    margin-left: 1.066vw;
}

.button {
    width: 42.666vw;
    font-family: 'Noto Sans JP';
    font-size: clamp(12px, 2vw, 20px);
    text-align: center;
    cursor: pointer;
    padding: 12px 10.133vw;
    background: #7f5539;
    color: #ffffff;
    transition: .3s;
    border: 1px solid #7f5539;
    vertical-align: text-top;
}

.button:hover {
    color: #7f5539;
    /* 背景色     */
    background: #ffffff;
    /* 文字色     */
}