@charset "UTF-8";

#switch_btn {
    margin-left: 10.93vw;
    width: 20px;
    height: 20px;
    background: url(../images/favorite_icon_empty.svg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#switch_btn2 {
    margin-left: 10.93vw;
    width: 20px;
    height: 20px;
    background: url(../images/favorite_icon_empty.svg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#switch_btn3 {
    margin-left: 10.93vw;
    width: 20px;
    height: 20px;
    background: url(../images/favorite_icon_empty.svg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#switch_btn4 {
    margin-left: 10.93vw;
    width: 20px;
    height: 20px;
    background: url(../images/favorite_icon_empty.svg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#switch_btn5 {
    margin-left: 10.93vw;
    width: 20px;
    height: 20px;
    background: url(../images/favorite_icon_empty.svg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#switch_btn6 {
    margin-left: 10.93vw;
    width: 20px;
    height: 20px;
    background: url(../images/favorite_icon_empty.svg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#switch_btn2.on_switch {
    background: url(../images/favorite_icon_fill.svg) no-repeat;
    background-size: 100% 100%;
    animation: anim-scale 0.5s ease-out;
    transform-origin: 50% 50%;
}

#switch_btn3.on_switch {
    background: url(../images/favorite_icon_fill.svg) no-repeat;
    background-size: 100% 100%;
    animation: anim-scale 0.5s ease-out;
    transform-origin: 50% 50%;
}

#switch_btn4.on_switch {
    background: url(../images/favorite_icon_fill.svg) no-repeat;
    background-size: 100% 100%;
    animation: anim-scale 0.5s ease-out;
    transform-origin: 50% 50%;
}

#switch_btn5.on_switch {
    background: url(../images/favorite_icon_fill.svg) no-repeat;
    background-size: 100% 100%;
    animation: anim-scale 0.5s ease-out;
    transform-origin: 50% 50%;
}

#switch_btn6.on_switch {
    background: url(../images/favorite_icon_fill.svg) no-repeat;
    background-size: 100% 100%;
    animation: anim-scale 0.5s ease-out;
    transform-origin: 50% 50%;
}

#switch_btn.on_switch {
    background: url(../images/favorite_icon_fill.svg) no-repeat;
    background-size: 100% 100%;
    animation: anim-scale 0.5s ease-out;
    transform-origin: 50% 50%;
}