@charset "UTF-8";

#switch_btn {
    margin-left: 10.93vw;
    width: 20px;
    height: 20px;
    background: url(../images/favorite_icon_empty.svg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#switch_btn1 {
    margin-left: 10.93vw;
    width: 24px;
    height: 24px;
    background: url(../images/favorite_icon_empty.svg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#switch_btn2 {
    margin-left: 10.93vw;
    width: 24px;
    height: 24px;
    background: url(../images/favorite_icon_empty.svg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#switch_btn3 {
    margin-left: 10.93vw;
    width: 24px;
    height: 24px;
    background: url(../images/favorite_icon_empty.svg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#switch_btn4 {
    margin-left: 10.93vw;
    width: 24px;
    height: 24px;
    background: url(../images/favorite_icon_empty.svg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#switch_btn5 {
    margin-left: 10.93vw;
    width: 24px;
    height: 24px;
    background: url(../images/favorite_icon_empty.svg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#switch_btn6 {
    margin-left: 10.93vw;
    width: 24px;
    height: 24px;
    background: url(../images/favorite_icon_empty.svg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#switch_btn7 {
    margin-left: 10.93vw;
    width: 24px;
    height: 24px;
    background: url(../images/favorite_icon_empty.svg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#switch_btn8 {
    margin-left: 10.93vw;
    width: 24px;
    height: 24px;
    background: url(../images/favorite_icon_empty.svg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#switch_btn9 {
    margin-left: 10.93vw;
    width: 24px;
    height: 24px;
    background: url(../images/favorite_icon_empty.svg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#switch_btn10 {
    margin-left: 10.93vw;
    width: 24px;
    height: 24px;
    background: url(../images/favorite_icon_empty.svg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#switch_btn11 {
    margin-left: 10.93vw;
    width: 24px;
    height: 24px;
    background: url(../images/favorite_icon_empty.svg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#switch_btn12 {
    margin-left: 10.93vw;
    width: 24px;
    height: 24px;
    background: url(../images/favorite_icon_empty.svg) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#switch_btn.on_switch {
    background: url(../images/favorite_icon_fill.svg) no-repeat;
    background-size: 100% 100%;
    animation: anim-scale 0.5s ease-out;
    transform-origin: 50% 50%;
}

#switch_btn1.on_switch {
    background: url(../images/favorite_icon_fill.svg) no-repeat;
    background-size: 100% 100%;
    animation: anim-scale 0.5s ease-out;
    transform-origin: 50% 50%;
}

#switch_btn2.on_switch {
    background: url(../images/favorite_icon_fill.svg) no-repeat;
    background-size: 100% 100%;
    animation: anim-scale 0.5s ease-out;
    transform-origin: 50% 50%;
}

#switch_btn3.on_switch {
    background: url(../images/favorite_icon_fill.svg) no-repeat;
    background-size: 100% 100%;
    animation: anim-scale 0.5s ease-out;
    transform-origin: 50% 50%;
}

#switch_btn4.on_switch {
    background: url(../images/favorite_icon_fill.svg) no-repeat;
    background-size: 100% 100%;
    animation: anim-scale 0.5s ease-out;
    transform-origin: 50% 50%;
}

#switch_btn5.on_switch {
    background: url(../images/favorite_icon_fill.svg) no-repeat;
    background-size: 100% 100%;
    animation: anim-scale 0.5s ease-out;
    transform-origin: 50% 50%;
}

#switch_btn6.on_switch {
    background: url(../images/favorite_icon_fill.svg) no-repeat;
    background-size: 100% 100%;
    animation: anim-scale 0.5s ease-out;
    transform-origin: 50% 50%;
}

#switch_btn7.on_switch {
    background: url(../images/favorite_icon_fill.svg) no-repeat;
    background-size: 100% 100%;
    animation: anim-scale 0.5s ease-out;
    transform-origin: 50% 50%;
}

#switch_btn8.on_switch {
    background: url(../images/favorite_icon_fill.svg) no-repeat;
    background-size: 100% 100%;
    animation: anim-scale 0.5s ease-out;
    transform-origin: 50% 50%;
}

#switch_btn9.on_switch {
    background: url(../images/favorite_icon_fill.svg) no-repeat;
    background-size: 100% 100%;
    animation: anim-scale 0.5s ease-out;
    transform-origin: 50% 50%;
}

#switch_btn10.on_switch {
    background: url(../images/favorite_icon_fill.svg) no-repeat;
    background-size: 100% 100%;
    animation: anim-scale 0.5s ease-out;
    transform-origin: 50% 50%;
}

#switch_btn11.on_switch {
    background: url(../images/favorite_icon_fill.svg) no-repeat;
    background-size: 100% 100%;
    animation: anim-scale 0.5s ease-out;
    transform-origin: 50% 50%;
}

#switch_btn12.on_switch {
    background: url(../images/favorite_icon_fill.svg) no-repeat;
    background-size: 100% 100%;
    animation: anim-scale 0.5s ease-out;
    transform-origin: 50% 50%;
}

@keyframes anim-scale {
    0% {
        transform: scale(0.4, 0.4);
    }

    40% {
        transform: scale(1.2, 1.2);
    }

    60% {
        transform: scale(1, 1);
    }

    80% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@media screen and (min-width: 768px) {


    #switch_btn {
        margin-left: 10.93vw;
        width: 20px;
        height: 20px;
        background: url(../images/favorite_icon_empty.svg) no-repeat;
        background-size: 100% 100%;
        cursor: pointer;
    }

    #switch_btn1,
    #switch_btn2,
    #switch_btn3,
    #switch_btn4,
    #switch_btn5,
    #switch_btn6,
    #switch_btn7,
    #switch_btn8,
    #switch_btn9,
    #switch_btn10,
    #switch_btn11,
    #switch_btn12 {
        margin-left: 0px;
        width: 2.635vw;
        height: 2.635vw;
    }

}