@charset "UTF-8";

body {
    width: 100%;
    font-family: 'Noto Sans JP';
    font-size: clamp(12px, 3vw, 14px);
}

h2 {
    text-align: center;
    font-size: clamp(20px, 5vw, 32px);
    padding-top: 32px;
    margin-bottom: 48px;
    position: relative;
}

h2:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -8px;
    display: inline-block;
    width: 40.53vw;
    height: 4px;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    background-color: #ffd233;
}

.product_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item {
    width: 42.133vw;

    &:nth-child(1) {
        /* margin-right: 5.066vw; */
    }

    &:nth-child(3) {
        margin-right: 5.066vw;
    }

    &:nth-child(5) {
        margin-right: 5.066vw;
    }
}

.item img {
    width: 42.133vw;
    margin-bottom: 20px;
}