@charset "UTF-8";

body {
    width: 100%;
    font-family: 'Noto Sans JP';
    font-size: clamp(12px, 0.3vw, 14px);
}

.welcome_message {
    margin: 12px 0 12px 5.333vw;
}

#hero_section img {
    width: 100%;
}

#topic_section {
    padding: 20px 5.33vw;
}

.topic_container {
    display: flex;
    margin-bottom: 20px;
}

.new_product {
    position: relative;
    margin-right: 5.33vw;

}

.new_product p {
    font-family: 'Noto Serif JP';
    font-size: clamp(12px, 3vw, 20px);
    /* font-weight: bold; */
    color: #fff;
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.product_promotion {
    position: relative;
}

.product_promotion p {
    font-family: 'Noto Serif JP';
    font-size: clamp(12px, 3vw, 20px);
    /* font-weight: bold; */
    color: #fff;
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.new_product img,
.product_promotion img {
    width: 42.13vw;

}

.item_list {
    position: relative;
}

.item_list img {
    width: 89.33vw;
}

.item_list p {
    font-family: 'Noto Serif JP';
    font-size: clamp(12px, 3vw, 20px);
    /* font-weight: bold; */
    color: #7F5539;
    position: absolute;
    right: 2%;
    bottom: 7%;
}

#introduce_section {
    background-image: url(../images/sp_introduce_background.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    object-fit: cover;
    height: 568px;
}

.introduce_container {
    text-align: center;
    color: #fff;
}

.introduce_container h2 {
    font-size: clamp(24px, 6vw, 40px);
    padding-top: 100px;
    padding-bottom: 20px;
}

.introduce_container h3 {
    font-size: clamp(16px, 4vw, 32px);
    padding-bottom: 60px;
}

.philosophy_title {
    font-size: clamp(20px, 5vw, 36px);
    padding-bottom: 12px;
}

.philosophy_explain {
    font-size: clamp(16px, 4vw, 32px);
    padding-bottom: 300px;
}

.introduce_container img {
    width: 100%;
}

#ranking_section {
    padding: 0 5.333vw;
}

#ranking_section h2 {
    text-align: center;
    font-size: clamp(20px, 5vw, 36px);
    padding: 32px 0 80px;
}

#ranking_section img {
    width: 42.133vw;
}

.first_second,
.third_fourth,
.fifth_sixth {
    display: flex;

}

@media screen and (min-width: 768px) {}

;