@charset "UTF-8";

body {
    width: 100%;
    font-family: 'Noto Sans JP';
    font-size: clamp(12px, 3vw, 14px);
}

.welcome_message {
    margin: 12px 0 12px 5.333vw;
}

#hero_section img {
    width: 100%;
}

#topic_section {
    padding: 20px 5.33vw;
}

.topic_container {
    display: flex;
    margin-bottom: 20px;
}

.new_product {
    position: relative;
    margin-right: 5.33vw;

}

.summer_citrus {
    font-family: 'Noto Serif JP';
    font-size: clamp(12px, 3vw, 20px);
    /* font-weight: bold; */
    color: #fff;
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.new_item {
    position: absolute;
    left: 3%;
    top: 3%;
}

.product_promotion {
    position: relative;
}

.product_promotion p {
    font-family: 'Noto Serif JP';
    font-size: clamp(12px, 3vw, 20px);
    /* font-weight: bold; */
    color: #fff;
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.new_product img,
.product_promotion img {
    width: 42.13vw;
}

.new_item img {
    width: 10.666vw;
}

.item_list {
    position: relative;
}

.item_list img {
    width: 89.33vw;
}

.item_list p {
    font-family: 'Noto Serif JP';
    font-size: clamp(12px, 3vw, 20px);
    /* font-weight: bold; */
    color: #7F5539;
    position: absolute;
    right: 2%;
    bottom: 7%;
}

#introduce_section {
    background-image: url(../images/sp_introduce_background.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    object-fit: cover;
    height: 568px;
}

.introduce_container {
    text-align: center;
    color: #fff;
}

.introduce_container h2 {
    font-size: clamp(24px, 6vw, 40px);
    padding-top: 100px;
    padding-bottom: 20px;
}

.introduce_container h3 {
    font-size: clamp(16px, 4vw, 32px);
    padding-bottom: 60px;
}

.philosophy_title {
    font-size: clamp(20px, 5vw, 36px);
    padding-bottom: 12px;
}

.philosophy_explain {
    font-size: clamp(16px, 4vw, 32px);
    padding-bottom: 300px;
}

#ranking_section {
    padding: 0 5.333vw;
}

#ranking_section h2 {
    text-align: center;
    font-size: clamp(20px, 5vw, 36px);
    padding-top: 32px;
    margin-bottom: 80px;
    position: relative;
}

#ranking_section h2:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -8px;
    display: inline-block;
    width: 40.53vw;
    height: 4px;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    background-color: #ffd233;
}

#ranking_section img {
    width: 42.133vw;
    margin-bottom: 20px;
}

.first_second,
.third_fourth,
.fifth_sixth {
    display: flex;
}

.first_icon {
    height: 9.333vw;
    width: 9.333vw;
    line-height: 9.333vw;
    text-align: center;
    background: #ffd233;
    font-size: clamp(16px, 4vw, 32px);
    margin: 0 auto 20px;
}

.rank_icon {
    height: 9.333vw;
    width: 9.333vw;
    line-height: 9.333vw;
    text-align: center;
    background: #e8c2ca;
    font-size: clamp(16px, 4vw, 32px);
    margin: 0 auto 20px;
}

.first_container,
.third_container,
.fifth_container {
    margin-right: 5.333vw;
}

.product_name,
.product_price {
    font-size: clamp(16px, 4vw, 32px);
    margin-bottom: 22px;
}

.product_name {
    line-height: 1.6;
    color: #7F5539;
}

.product_price {
    width: 30vw;
    color: #bf0000;
}

.button {
    width: 42.133vw;
    font-family: 'Noto Sans JP';
    font-size: clamp(12px, 3vw, 20px);
    text-align: center;
    cursor: pointer;
    margin-bottom: 80px;
    padding: 12px 9.866vw;
    background: #7f5539;
    color: #ffffff;
    transition: .3s;
    border: 1px solid #7f5539;
}

.button:hover {
    color: #7f5539;
    /* 背景色     */
    background: #ffffff;
    /* 文字色     */
}

.price_container {
    display: flex;
}

.fa-heart {
    width: 12vw;
    font-size: clamp(20px, 5vw, 36px);
    text-align: right;
    color: #bf0000;
}

@media screen and (min-width: 768px) {

    .welcome_message {
        font-size: 12px;
        margin: 24px 0 12px 7.54vw;
    }

    #topic_section {
        padding: 80px 11.932vw;
    }

    #topic_section img {
        width: 36.603vw;
    }

    #topic_section .new_item img {
        width: 10.675vw;
    }

    .summer_citrus {
        font-family: 'Noto Serif JP';
        font-size: 36px;
        /* font-weight: bold; */
        color: #fff;
        position: absolute;
        right: 5%;
        bottom: 5%;
    }

    .product_promotion p {
        font-family: 'Noto Serif JP';
        font-size: 36px;
        /* font-weight: bold; */
        color: #fff;
        position: absolute;
        right: 5%;
        bottom: 5%;
    }

    .item_list p {
        font-family: 'Noto Serif JP';
        font-size: 36px;
        /* font-weight: bold; */
        color: #7F5539;
        position: absolute;
        right: 2%;
        bottom: 7%;
    }

    #topic_section .item_list img {
        width: 76.134vw;
    }

    .new_product {
        margin-right: 2.928vw;
    }

    #introduce_section {
        background-image: url(../images/introduce_background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 667px;
    }

    .introduce_container h2 {
        font-size: 36px;
        padding-top: 200px;
        padding-bottom: 20px;
    }

    .introduce_container h3 {
        font-size: 20px;
        padding-bottom: 40px;
    }

    .philosophy_title {
        font-size: 24px;
        padding-bottom: 20px;
    }

    .philosophy_explain {
        font-size: 24px;
        padding-bottom: 283px;
    }

    #ranking_section h2 {
        text-align: center;
        font-size: 32px;
        padding-top: 80px;
        margin-bottom: 92px;
        position: relative;
    }

    #ranking_section h2:before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -12px;
        display: inline-block;
        width: 240px;
        height: 8px;
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translate(-50%);
        background-color: #ffd233;
    }

    #ranking_section img {
        width: 23.426vw;
        margin-bottom: 20px;
    }

    .first_third,
    .fourth_sixth {
        display: flex;
    }

    .button {
        width: 23.426vw;
    }
}